<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Riak Scala Client - {{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" href="css/docs.css">
    <link rel="stylesheet" href="css/pygments-tomorrow-night.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/scalapenos-logo-white-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/scalapenos-logo-white-114.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/scalapenos-logo-white-72.png">
                    <link rel="apple-touch-icon-precomposed" href="img/scalapenos-logo-white-57.png">
                                   <link rel="shortcut icon" href="img/scalapenos-logo-black-16.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="index.html"><i class="logo-pepper-white"></i></a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{% if page.section == 'home' %}active{% endif %}">
                <a href="index.html">Home</a>
              </li>
              <li class="{% if page.section == 'documentation' %}active{% endif %}">
                <a href="documentation.html">Documentation</a>
              </li>
              <li class="{% if page.section == 'examples' %}active{% endif %}">
                <a href="examples.html">Examples</a>
              </li>
              <li><a href="scaladocs/index.html#com.scalapenos.riak.package" target="_blank">API Reference</a></li>
              <li class="{% if page.section == 'faq' %}active{% endif %}">
                <a href="FAQ.html">FAQ</a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="https://github.com/agemooij/riak-scala-client"><i class="icon-github icon-large"></i></a></li>
              <li><a href="mailto:age@scalapenos.com"><i class="icon-envelope icon-large"></i></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="bs-docs-social">
      <div class="container">
        <ul class="bs-docs-social-buttons">
          <li>
            <span class="watch">
              <a class="btn btn-mini" href="https://github.com/agemooij/riak-scala-client/" target="_blank"><i class="icon-star icon-large"></i> Star</a>
              <a id="watchers" class="count btn btn-mini" href="https://github.com/agemooij/riak-scala-client/stargazers" target="_blank">40+</a>
            </span>
          </li>

          <li>
            <span class="fork">
              <a class="btn btn-mini" href="https://github.com/agemooij/riak-scala-client/" target="_blank"><i class="icon-github icon-large"></i> Fork</a>
              <a id="forks" class="count btn btn-mini" href="https://github.com/agemooij/riak-scala-client/network" target="_blank">5</a>
            </span>
          </li>
        </ul>
      </div>
    </div>


{{ content }}


    <!-- Le javascript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/misc.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39384328-1']);
      _gaq.push(['_setDomainName', 'scalapenos.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
